{%include 'public_header.html'%}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          
          <h1 data-aos="fade-up" data-aos-delay="400">BOOK YOUR DOCTORS :)</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Your Health, Your Time – Book Trusted Doctors Anytime, Anywhere!</h2>
          <table>
            
            <tr>
              <td colspan="2" align="center" style="padding-top: 20px;">
                <a href="login" class="btn btn-primary" style="text-decoration: none; padding: 10px 20px; display: inline-block;"
                data-aos="fade-up" data-aos-delay="400">LOGIN</a>
              </td>
            </tr>
            
          </table>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <!--<a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </a> -->
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="/static/assets/img/aaaa.png" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
{%include 'footer.html'%}